@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">F. & J. Library</h1>
    <br />
    <h3>Projekt wykonany przez:</h3>
    <p>Paweł Białek - 160919</p>
    <p>Informatyka, rok III, stacjonarne</p>
    <p>L_ASI 1</p>

</div>
